{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-AU">

<head>


  <title>  AparcaMadrid</title>

  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <meta name="author" content="fullahead.org" />
  <meta name="keywords" content="Open Web Design, OWD, Free Web Template, Lazy Days, Fullahead" />
  <meta name="description" content="A free web template designed by Fullahead.org and hosted on OpenWebDesign.org" />
  <meta name="robots" content="index, follow, noarchive" />
  <meta name="googlebot" content="noarchive" />

  <link rel="stylesheet" type="text/css" href="{% static 'css/html.css' %}" media="screen, projection, tv " />
  <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}" media="screen, projection, tv" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print" />
  <link rel="shortcut icon" href="{% static 'Images/emoticono_parking.jpg' %}">

</head>


<body>

<!-- CONTENT: Holds all site content except for the footer.  This is what causes the footer to stick to the bottom -->
<div id="content">



  <!-- HEADER: Holds title, subtitle and header images -->
  <div id="header">

    <div id="title">
      <h1> AparcaMadrid, tu modo para encontrar sitio</h1>
      <div class="loggin">
        {% if request.user.is_authenticated %}
              <form action="/logout" method="post" style="position:relative; left:30%; bottom:75%;">{% csrf_token %}
                <h3><label for="username">Pagina de {{request.user.username}}</label></h3><br/>
                <input type="submit" value="logout" style="background-color: #FFCC00;
                  border: 1px solid #CC9900;
                  box-shadow: 0px 0px 0px 1px rgba(255, 115, 100, 0.4) inset, 0px 1px 3px #333;
                  color: #000;
                  font: bold 20px/1 "helvetica neue",helvetica,arial,sans-serif;
                  padding: 12px 0px 14px;
                  text-align: right;
                  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
                  width: 150px;"/>
              </form>
        {% else %}
        <form action="/login" method="POST" style="position:relative; left:30%; bottom:75%;">{% csrf_token %}
            <label for="username">Username: </label>
            <input type="text" name="username" value="" id="username" style="width:100px; height:20px;
              border-width:thick; border-style:solid; border-color:yellow"><br>
            <label for ="password">Password: </label>
            <input type="password" name="password" value="" id="password" style="width:100px; height:20px;
              border-width:thick; border-style:solid; border-color:yellow"><br>
            <input type="submit" value="login" style="background-color: #FFCC00;
              border: 1px solid #CC9900;
              box-shadow: 0px 0px 0px 1px rgba(255, 115, 100, 0.4) inset, 0px 1px 3px #333;
              color: #000;
              font: bold 20px/1 "helvetica neue",helvetica,arial,sans-serif;
              padding: 12px 0px 14px;
              padding-top: 10px;
              text-align: right;
              text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
              width: 20px;"/>

        </form>
        {% endif %}
      </div>
    </div>

    <!--<img src="Images/mapa_madrid.jpg" alt="balloons" class="balloons" /> -->
    <img src="{% static 'Images/mapa_madrid.jpg' %}" alt="left slice" class="left" />
    <!--<img src="images/bg/header_right.jpg" alt="right slice" class="right" /> -->

  </div>



  <!-- MAIN MENU: Top horizontal menu of the site.  Use class="here" to turn the current page tab on -->
  <div id="mainMenu">
    <ul class="floatRight">
      <li><a href="/" title="Pagina principal del sitio" class="here">Inicio</a></li>
      <li><a href="/aparcamientos" title="Todos los aparcamientos">Todos</a></li>
      <li><a href="/about" title="Sobre nuestra página">About</a></li>
    </ul>
  </div>




  <!-- PAGE CONTENT BEGINS: This is where you would define the columns (number, width and alignment) -->
  <div id="page">

    <!-- 25 percent width column, aligned to the left -->
    <div class="width25 floatLeft leftColumn">

      {% block left %}{% endblock %}

    </div>

    <!-- 75 percent width column, aligned to the right -->
    <div class="width75 floatRight">


      <!-- Gives the gradient block -->
      <div class="gradient">

        {% block content %}{% endblock %}

      </div>

    </div>

  </div>

</div>


<!-- FOOTER: Site footer for links, copyright, etc. -->
<div id="footer">

  <div id="width">
    <span class="floatLeft">
      "Esta aplicacion utiliza datos del portal de datos abiertos de la ciudad de Madrid"

      <span class="floatRight">
        <a href="http://datos.munimadrid.es/portal/site/egob/menuitem.ac61933d6ee3c31cae77ae7784f1a5a0/?vgnextoid=00149033f2201410VgnVCM100000171f5a0aRCRD&format=xml&file=0&filename=202584-0-aparcamientos-residentes&mgmtid=e84276ac109d3410VgnVCM2000000c205a0aRCRD&preview=full" title="XML">XML</a> <span class="grey">|</span>
        <a href="http://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=e84276ac109d3410VgnVCM2000000c205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default" title="Descripcion">Descripcion</a> <span class="grey">|</span>
      </span>
  </div>

</div>

</body>

</html>
