{% extends "base.html" %}

{% block content %}

<div class="gradient">
  <a name="fluidity"></a>
  {% if titulo == "" %}
    <h1>Pagina de {{usuario|striptags|safe}}</h1>
    {% if request.user.is_authenticated and request.user.username == usuario %}
    </br>
    <form action="/cambiartitulo" method="POST">{% csrf_token %}
        <label for="titulo">Cambiar titulo de la pagina</label>
        <input type="text" name="titulo" value="" id="titulo" style = "width:400px; height:20px;
          border-width:thick; border-style:solid; border-color:#336666">
        <input type="submit" value="Aceptar" style="background-color: #006666;
          border: 1px solid #003333;
          border-radius: 5px;
          box-shadow: 0px 0px 0px 1px rgba(255, 115, 100, 0.4) inset, 0px 1px 3px #333;
          color: #000;
          font: bold 20px/1 "helvetica neue",helvetica,arial,sans-serif;
          padding: 12px 0px 14px;
          text-align: center;
          text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
          width: 150px;"/>
    </form>
    </br>
    {% endif %}
  {% else %}
    <h1>{{titulo|striptags|safe}}</h1>
    {% if request.user.is_authenticated and request.user.username == usuario %}
    </br>
    <form action="/cambiartitulo" method="POST">{% csrf_token %}
        <label for="titulo"><h2>Cambiar titulo de la pagina</h2></label>
        <input type="text" name="titulo" value="" id="titulo" style = "width:400px; height:20px;
          border-width:thick; border-style:solid; border-color:#336666">
        <input type="submit" value="Aceptar" style="background-color: #006666;
        border: 1px solid #003333;
        border-radius: 5px;
        box-shadow: 0px 0px 0px 1px rgba(255, 115, 100, 0.4) inset, 0px 1px 3px #333;
        color: #000;
        font: bold 20px/1 "helvetica neue",helvetica,arial,sans-serif;
        padding: 12px 0px 14px;
        text-align: center;
        text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
        width: 150px;"/>
    </form>
    </br>
    {% endif %}
  {% endif %}
  <ul class = "indexlist">
    {% for aparcamiento in aparcamientos %}
      <div class="10alojamientosCom">
        <li>
          <item>
            <div class="alojamiento">
              <a href="{{aparcamiento.aparcamiento_id.url}}"><h2>{{aparcamiento.aparcamiento_id.nombre|striptags|safe}}</h2></a>
              <p><strong>Dirección:  </strong>{{aparcamiento.aparcamiento_id.direccion|striptags|safe}}</p>
              <p><strong>Este aparcamiento fue seleccionado el:  </strong>{{aparcamiento.fecha}}</p>
            </div>
            <!--<blockquote class="go">
              <a href="/alojamientos/{{alojamiento.alojamiento_id.id}}"><strong> Visita la pagina de este alojamiento</strong></a>
            </blockquote>-->
          </item>
        </li></br><hr class="separator">


    {% empty %}
      <p> No hay aparcamientos seleccionados </p>
    {% endfor %}
  
  </ul>
  <a href="/mostrarXml/{{usuario}}"><h2><strong> Canal XML de este usuario </strong></h2></a>
</div>
</div>

{% endblock content %}
