{% extends "base.html" %}

{% block content %}

<div class="gradient" style="width:700px; position:relative; right: 20%;">
  <a name="fluidity"></a>
  <h1>{{aparcamiento.nombre|striptags|safe}}</h1>
  <ul class = "indexlist">
      <div class="10alojamientosCom">
          <item>
            <div class="alojamiento" style="width:750px; color: lihgtred;">
              <h2><strong>Coordenadas:  </strong>{{aparcamiento.coordenadas|striptags|safe}}</h2>
              <h2><strong>Descripcion:  </strong>{{aparcamiento.descripcion|striptags|safe}}</h2>
              <h2><strong>Accesible:  </strong>{{aparcamiento.accesibilidad|striptags|safe}}</h2>
              <h2><strong>Barrio:  </strong>{{aparcamiento.barrio|striptags|safe}}</h2>
              <h2><strong>Distrito:  </strong>{{aparcamiento.distrito|striptags|safe}}</h2>
              <h2><strong>Contacto:  </strong>{{alojamiento.contacto|striptags|safe}}</h2>
              <blockquote class="go">
                <a href="/seleccionFavorito/{{aparcamiento.id}}"><strong>Seleccionar este aparcamiento para mi página</strong></a>
              </blockquote>
              <!--<a href="/incluirFavorito/{{alojamiento.id}}"><strong>Seleccionar este aparcamiento para mi página</strong></a>-->
            </div>
            <div class="comentarios" style="width:750px;">
            {% ifnotequal comentarios "" %}
              <h2><strong>Comentarios de otros usuarios para este alojamiento:</strong></h2>
              <ul>
              {% for comentario in comentarios %}
                <li><p>{{comentario.comentario|striptags|safe}}<br/></p></li>
              {% endfor %}
              {% if request.user.is_authenticated %}
              </br>
              <form action="/incluirComentario/{{aparcamiento.id}}" method="POST">{% csrf_token %}
                  <label for="comentario"><h2><strong>Añade un comentario sobre este aparcamiento</strong></h2></label>
                  <input type="text" name="comentario" value="" id="comentario" style = "width:500px; height:75px;
                    border-width:thick; border-style:solid; border-color:lightgray"></br>
                  <input type="submit" value="Enviar" style="background-color: #FFCC00;
                    border: 1px solid #CC9900;
                    border-radius: 5px;
                    box-shadow: 0px 0px 0px 1px rgba(255, 115, 100, 0.4) inset, 0px 1px 3px #333;
                    color: #000;
                    font: bold 20px/1 "helvetica neue",helvetica,arial,sans-serif;
                    padding: 12px 0px 14px;
                    text-align: center;
                    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
                    width: 150px;"/>
              </form>
            </div>
              </br>
                {% endif %}
              </ul>
            {%  endifnotequal %}
            <!--<blockquote class="go">
              <a href="{{alojamiento.url}}"><strong>Visita la web de este alojamiento</strong></a>
            </blockquote>-->
          </item>
        </br><hr class="separator">
    </div>
  </ul>
</div>

{% endblock content %}
